[Unit]
Description=hid2tcp bridge

[Service]
Type=simple
ExecStart=/usr/local/bin/hid2tcp
Restart=always
RestartSec=300
User=root

[Install]
WantedBy=multi-user.target
